@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.main {
  min-height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.loading,
.error {
  text-align: center;
  padding: 4rem 1rem;
  font-size: 1.125rem;
  color: $color-text-secondary;
}

.error {
  color: #ef4444;
}
