@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;

  > main {
    margin-top: 7.5rem;
    flex: 1;
    background-color: $color-background-secondary;
  }
}

.main {
  background-color: $color-background-secondary;
}

.loading,
.error {
  text-align: center;
  padding: 4rem 1rem;
  font-size: 1.125rem;
  color: $color-text-secondary;
}

.error {
  color: #ef4444;
}
